!!!
%html
  = render partial: 'layouts/header'
  %body
    = link_to image_tag("https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", style: "position: absolute; top: 0; right: 0; border: 0;"), "https://github.com/tanaka51-jp/manyo_dominion_no_kai"
    .container-narrow
      .masthead
        %h3= link_to '万葉ドミニオンの会', notes_path

      %hr

      = yield
