!!!
%html
  %head
    %title ManyoDominionNoKai
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %h3.muted 万葉ドミニオンの会

      %hr

      = yield
